* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header Section */
.header {
    height: 100vh;
    background: linear-gradient(120deg, #1e3c72, #2a5298);
    color: white;
    text-align: center;
    padding-top: 150px;
}

.header h1 {
    font-size: 42px;
    margin-bottom: 15px;
}

.header p {
    font-size: 20px;
    margin-bottom: 30px;
}

.btn {
    text-decoration: none;
    background: white;
    color: #1e3c72;
    padding: 12px 25px;
    border-radius: 25px;
    font-weight: bold;
}

.btn:hover {
    background: #ffd700;
}

/* About Section */
.about {
    padding: 60px 20px;
    text-align: center;
    background: #f4f4f4;
}

.about h2 {
    font-size: 32px;
    margin-bottom: 15px;
}

.about p {
    max-width: 700px;
    margin: auto;
    font-size: 18px;
}

/* Course Section */
.course {
    padding: 60px 20px;
    text-align: center;
}

.course h2 {
    font-size: 32px;
    margin-bottom: 40px;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: #ffffff;
    width: 250px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.card h3 {
    margin-bottom: 10px;
    color: #572538;
}

/* Why Section */
.why {
    padding: 60px 20px;
    background: #1e3c72;
    color: rgb(247, 238, 238);
    text-align: center;
}

.why h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.why ul {
    list-style: none;
    font-size: 18px;
}

.why li {
    margin: 10px 0;
}

/* Footer */
.footer {
    background: #111;
    color: rgb(11, 29, 89);
    text-align: center;
    padding: 15px;
}
